body {
	font-family: "Montserrat";
}
.wrap {

	margin: 0 auto;
	max-width: 1440px;
	min-width: 385px;
}
.header {
	display: flex;
	justify-content: space-between;
   	align-items: center;
	font-size: 15px;
	font-weight: 600;
}
.header-navigation {
	margin-left: 7px;
}
.header-navigation__link {
	text-decoration: none;
	padding: 0px 16px 0 24px;
	color: #000000;
}
.header-navigation__link_active {
	color: #E51937;
	border-bottom: 2px solid;
	padding: 0px 0px 6px 0;}
}

.menu {
	margin-right: 0px;
}
.menu__item {
	text-decoration: none;
	padding-right: 25px;
	color: #000000;
}
.menu__burger {
	margin-right: 8px;
}
.intro__title {
	font-size: 90px;
	font-weight: 600;
	margin: 60px 0px 0px 19px;
	text-align: center;
}
.intro__subtitle {
	font-size: 15px;
	font-weight: 500;
	margin-top: 0;
	margin-left: 20px;
	text-align: center;
}
.characteristic__content-mark {
	display: block;
    height: auto;
	width: 100%;
}
.characteristic__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}
.params {
	margin-left: 80px;
	display: flex;
}
.params__content {
    margin-top: 5px;
}
.params__bunch {
	margin-left: 10px;
}
.params__option {
	font-size: 35px;
	font-weight: 600;
	margin: auto;
}
.params-spn {
	font-size: 20px;
	font-weight: 600;
}
.params__clarification {
	font-size: 12px;
	font-weight: 400;
	display: block;
}
.params__option_sm {
	font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}
.log {
	margin-left: 100px;
    margin-top: 16px;
}
.log__option_sm {
	font-weight: 700;
	background: url(../img/steering-wheel.svg) bottom no-repeat;
	background-position-x: 0%;
	padding-top: 5px;
	padding-left: 25px;
	text-transform: uppercase;
}
.log__option-btn {
	font-weight: 700;
	color: #E51937;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	border: 2px solid;
	background: #FFFFFF;
	margin-left: 33px;
}
.intro__check {
	display: block;
	margin: 0px auto 36px;
}

/*
.specification {
	display: flex;
    justify-content: space-between;
}
.specification__picture {
	background: url(../img/model.png) no-repeat;
	width: 100%;
    height: 844px
}
.specification__title {
	font-size: 70px;
	font-weight: 600;
	color:#E51937;
	margin-left: 26px;
}
.specification__content {
	background: #E51937;
    color: #fff;
    width: 546px;
	height: 844px;
}
.spec-content {
	padding: 18px 0px 6px 54px;
}
.spec-content__title {
	font-weight: 600;
	font-size: 30px;
}
.specification__characteristic {
	padding: 9px 0 0 50px;
}
.spacification__params {
	display: flex;
}
.options__item {
	font-weight: 600;
	font-size: 35px;
}
.specification__item-sp {
	font-weight: 600;
	font-size: 20px;
}
.options__item-cont {
	font-weight: 700;
	font-size: 12px;
}
/*
.options {
	background: url(../img/screen.svg) no-repeat;
}*/
.description {
	display: flex;
}
.description__car-img {
	width: 100%;
}
.description__fond {
	background-color: #e51937;
    flex-direction: column;
    color: #fff;
    max-width: 440px;
}
.description__title {
	font-size: 30px;
	font-weight: 600;
    margin: 50px 0 10px 36px;
}
.description__text {
	font-size: 15px;
	font-weight: 500;
    margin: 0 60px 65px 36px;
}
.description__claster {
	display: flex;
    flex-direction: column;
    margin: 0 0 85px 42px;
}
.description__title {
	font-size: 30px;
    font-weight: 600;
    margin-bottom: 29px;
}
.rating {
	padding-left: 58px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
}
.description__rating-category {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 285px;
    align-items: center;
}
.rating__point {
	font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.rating__stars {
	display: inline-block;
    width: 135px;
    height: 25px;
	background-image: url(../img/Star.svg);
	background-size: 27px 25px;
}
*/

@media screen and (max-width: 1080px) {
	.log {
		margin-left: 104px;
	}
	.log__option-btn {
		margin-left: 100px;
		color: #FFFFFF;
		background: #E51937;
	}
	.log__option_sm {
	background: url(../img/steering-wheel_red.svg) bottom no-repeat;
    background-position-x: 0%;
	padding-top: 3px;
	color: #E51937;
	}
}
@media screen and (max-width: 902px) {
 .header-navigation {
	 display: none;
 }
 .menu__item {
	 display: none;
 }
}
@media screen and (max-width: 858px) {
.log {
	margin-left: 58px;
	}
}


@media screen and (max-width: 730px) {
	.params {
		margin-left: 35px;
	}
	.params__option {
		font-size: 50px;
	}
	.log {
		margin-left: 31px;
	}
}
@media screen and (max-width: 525px) {
	.intro__title {
		font-size:50px;
	}
	.intro__subtitle {
		font-size: 10px;
	}
	.params {
		margin-right: 28px;
	}
	.log {
		margin-left: 0px;
	}
	.params__option {
		font-size: 27px;
	}
	.params-spn {
		font-size: 15px;
	}
	.params__clarification {
		font-size: 10px;
	}
	.params {
		margin-left: 36px;
		margin-right: 39px;
	}
	.log__option-btn {
		margin-left: 50px;
		
	}
	.params__content {
		width: 50px;
	}

}
@media screen and (max-width: 450px) {
	.params {
		margin-left: 16px;
		margin-right: 22px;
	}
	.log {
		margin-left: 44px;
		margin-right: 46px;
	}
	.log__option-btn {
		margin-left: 19px;
		width: 125px;
	}
	
}
